# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# testing
/coverage

# env files
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem

# vercel
.vercel
